.account {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bank {
  margin: 12px 0;
  display: flex;
  gap: 8px;
}

.balance {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 120px;
}

.balance p {
  margin: 0;
}

.bank,
.balance p:not(.value) {
  font-size: 15px;
  font-weight: 600;
}

.bank,
.balance p {
  line-height: 120%;
  color: var(--neutral-text);
}

.value {
  font-size: 16px;
  font-weight: 400;
}
