.container {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.container p {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  line-height: 125%;
  gap: 8px;
  color: var(--secondary-income);
}
