.wrapper {
  width: 100%;
  background-color: var(--neutral-dark);
  border-radius: 8px;
  height: 40px;
  overflow: hidden;
}

.filled {
  background-color: var(--primary-highlight);
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--neutral-dark);
  transition: width 0.5s ease;
  font-size: 16px;
  line-height: 120%;
  font-weight: 500;
}
